<mat-nav-list>
    <div class="bg-white py-4">
      <img src="https://flairstech.com/app/uploads/2021/08/logo-01-1.png.webp" alt="Company Logo" />
    </div>
    <mat-divider></mat-divider>
    <div class="mt-4">
        <a mat-list-item routerLinkActive="list-item-active " routerLink="/home">
            <mat-icon >home</mat-icon>
            <span class="ml-4">Home</span>    
          </a>
          <a mat-list-item routerLinkActive="list-item-active" routerLink="/products">
            <mat-icon>dashboard</mat-icon>
            <span class="ml-4">Products </span> 
          </a>
      
          <a mat-list-item routerLinkActive="list-item-active" routerLink="/users">
              <mat-icon>group</mat-icon> 
              <span class="ml-4"> Users </span>
            </a>
      
    </div>
   
  </mat-nav-list>