<div class="h-100 rounded-lg border-gray-200 p-6">


    <div class="grid grid-cols-4 gap-4">
      <div class="bg-white" *ngFor="let product of productList">
          <div class="mx-auto max-w-2xl py-2 px-4 sm:py-2 sm:px-6 lg:max-w-7xl lg:px-8">
              <div class="group relative">
                  <div class="min-h-80 aspect-w-1 aspect-h-1 w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75 lg:aspect-none lg:h-80">
                    <img [src]="product.images[0]" alt="Front of men&#039;s Basic Tee in black." class="h-full w-full object-cover object-center lg:h-full lg:w-full">
                  </div>
                  <div class="mt-4 flex justify-between">
                    <div>
                      <h3 class="text-sm text-gray-700">
                        <a href="#">
                          <span aria-hidden="true" class="absolute inset-0"></span>
                          {{product.title}}
                        </a>
                      </h3>
                      <p class="mt-1 text-sm text-gray-500">{{product.category}}</p>
                    </div>
                    <p class="text-sm font-medium text-gray-900">$ {{product.price}}</p>
                  </div>
                  <a class="inline-flex items-center justify-center rounded-md border border-transparent bg-indigo-600 px-5 py-3 text-base font-medium text-white hover:bg-indigo-700">View Details</a>
                </div>
          </div>
        </div>
  
    </div>
  </div>
  